[Desktop Entry]
Name=Search
Comment=Control which applications show search results in the Activities Overview
Exec=gnome-control-center search
Icon=preferences-system-search
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=search
X-GNOME-Bugzilla-Version=3.14.2
# Translators: those are keywords for the search control-center panel
Keywords=Search;Find;Index;Hide;Privacy;Results;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
