[Desktop Entry]
Name=Details
Comment=View information about your system
Exec=gnome-control-center info
Icon=applications-system
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=info
X-GNOME-Bugzilla-Version=3.14.2
# Translators: those are keywords for the System Information panel
# "Preferred Applications" is the old name for the preference, so make
# sure that you use the same "translation" for those keywords
Keywords=device;system;information;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
