[Desktop Entry]
Name=User Accounts
Comment=Add or remove users
Exec=unity-control-center user-accounts
Icon=system-users
Terminal=false
Type=Application
StartupNotify=true
Categories=System;Settings;X-Unity-Settings-Panel;X-GNOME-SystemSettings
OnlyShowIn=Unity;
X-Unity-Settings-Panel=user-accounts
# Translators: those are keywords for the user accounts control-center panel
Keywords=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
X-Ubuntu-Gettext-Domain=unity-control-center
