[Desktop Entry]
Name=Userguides
Name[as]=ব্যৱহাৰকাৰী সহায়িকা
Name[ca]=Guies d'usuari
Name[ca@valencia]=Guies d'usuari
Name[cs]=Uživatelské příručky
Name[da]=Brugervejledning
Name[de]=Benutzerhandbücher
Name[el]=Οδηγοί χρήστη
Name[en_GB]=Userguides
Name[es]=Guías de usuario
Name[eu]=Erabiltzaile-gidak
Name[fr]=Guides d'utilisation
Name[gl]=Guías de usuario
Name[hu]=Felhasználói kézikönyvek
Name[id]=Panduan pengguna
Name[it]=Guide utente
Name[ja]=ユーザーガイド
Name[ko]=사용자 안내서
Name[lt]=Naudotojo gidai
Name[lv]=Lietotāja gidi
Name[nb]=Brukermanualer
Name[nl]=Gebruikershandleidingen
Name[pl]=Podręczniki użytkownika
Name[pt]=Guias de utilizador
Name[pt_BR]=Guias de usuário
Name[ro]=Ghiduri de utilizare
Name[ru]=Руководства пользователя
Name[sk]=Používateľské príručky
Name[sl]=Uporabniški vodniki
Name[sr]=Корисничко упутство
Name[sr@latin]=Korisničko uputstvo
Name[te]=వాడుకరిమార్గదర్శకాలు
Name[uk]=Керівництва користувача
Name[zh_CN]=用户指南
Name[zh_HK]=使用者指南
Name[zh_TW]=使用者指南
Comment=Userguide data miner
Comment[as]=ব্যৱহাৰকাৰী সহায়িকা তথ্য মাইনাৰ
Comment[ca]=Guia d'usuari de l'extractor de dades
Comment[ca@valencia]=Guia d'usuari de l'extractor de dades
Comment[cs]=Démon na dolování dat z uživatelských příruček
Comment[da]=Brugervejledning dataindeksering
Comment[de]=Indizierung von Benutzerhandbüchern
Comment[el]=Εξορύκτης δεδομένων από αρχεία συστήματος
Comment[en_GB]=Userguide data miner
Comment[es]=Guía de usuario del minero de datos
Comment[eu]=Erabiltzaile-gidetako datuen biltzailea
Comment[fr]=Collecteur de données des guides d'utilisation
Comment[gl]=Guía de usuario do mineiro de datos
Comment[hu]=Felhasználói kézikönyvek adatbányász
Comment[id]=Penambang data panduan pengguna
Comment[it]=Estrattore di dati dalle guide utente
Comment[ja]=ユーザーガイドからデータを収集します
Comment[ko]=사용자 안내서 데이터 수집기
Comment[lt]=Naudotojo vadovų duomenų rinkiklis
Comment[lv]=Lietotāja gidu racējs
Comment[nb]=Datagraver for brukermanualer
Comment[nl]=Gebruikershandleiding dataminer
Comment[pl]=Przeszukiwanie danych w podręcznikach użytkownika
Comment[pt]=Analisador de guias de utilizador
Comment[pt_BR]=Mineração de dados dos guias de usuário
Comment[ro]=Miner de date pentru ghidul utilizatorului
Comment[ru]=Руководство пользователя по индексатору данных
Comment[sk]=Dolovač údajov pre používateľské príručky
Comment[sl]=Podatkovno rudarjenje uporabniških vodnikov
Comment[sr]=Копач података корисничког упутства
Comment[sr@latin]=Kopač podataka korisničkog uputstva
Comment[uk]=Керівництво користувача по аналізатору даних
Comment[zh_CN]=用户指南数据挖掘器
Comment[zh_HK]=使用者指南資料礦工
Comment[zh_TW]=使用者指南資料礦工
Icon=system-installer
DBusName=org.freedesktop.Tracker1.Miner.Userguides
DBusPath=/org/freedesktop/Tracker1/Miner/Userguides
