[Desktop Entry]
Name=Extractor
Name[as]=নিষ্কাষক
Name[ca]=Extractor
Name[ca@valencia]=Extractor
Name[cs]=Extraktor
Name[da]=Udtrækker
Name[de]=Entdecker
Name[el]=Εφαρμογή εξαγωγής
Name[es]=Extractor
Name[eu]=Erauzlea
Name[fr]=Extracteur
Name[gl]=Extractor
Name[hu]=Kinyerő
Name[id]=Ekstraktor
Name[it]=Estrattore
Name[ko]=추출기
Name[lt]=Išgavėjas
Name[lv]=Izvilcējs
Name[nl]=Uitpakprogramma
Name[pl]=Rozpakowywanie
Name[pt]=Extrator
Name[pt_BR]=Extrator
Name[ru]=Экстрактор
Name[sk]=Nástroj na extrahovanie
Name[sl]=Preučevalnik
Name[sr]=Извлачивач
Name[sr@latin]=Izvlačivač
Name[uk]=Екстрактор
Name[zh_CN]=提取工具
Name[zh_HK]=解譯器
Name[zh_TW]=解譯器
Comment=Metadata extractor
Comment[as]=মেটাডাটা নিষ্কাষক
Comment[ca]=Extractor de metadades
Comment[ca@valencia]=Extractor de metadades
Comment[cs]=Vytahování metadat
Comment[da]=Metadataudtrækker
Comment[de]=Metadaten-Entdecker
Comment[el]=Εφαρμογή εξαγωγής μεταδεδομένων
Comment[es]=Extractor de metadatos
Comment[eu]=Meta-datuen erauzlea
Comment[fr]=Extracteur de métadonnées
Comment[gl]=Metadatos do extractor
Comment[hu]=Metaadat-kinyerő
Comment[id]=Ekstraktor metadata
Comment[it]=Estrattore di meta-dati
Comment[ko]=메타데이터 추출기
Comment[lt]=Metaduomenų išgavėjas
Comment[lv]=Metadatu izvilcējs
Comment[nl]=Metadata-uitpakprogramma
Comment[pl]=Rozpakowywanie metadanych
Comment[pt]=Extrator de metadados
Comment[pt_BR]=Extrator de metadados
Comment[ru]=Экстрактор метаданных
Comment[sk]=Nástroj na extrahovanie metaúdajov
Comment[sl]=Preučevalnik metapodatkov
Comment[sr]=Извлачивач метаподатака
Comment[sr@latin]=Izvlačivač metapodataka
Comment[uk]=Екстрактор метаданих
Comment[zh_CN]=元数据提取工具
Comment[zh_HK]=元數據解譯器
Comment[zh_TW]=元數據解譯器
Icon=folder
DBusName=org.freedesktop.Tracker1.Miner.Extract
DBusPath=/org/freedesktop/Tracker1/Miner/Extract
