[Desktop Entry]
Name=File System
Name[ar]=نظام الملفات
Name[as]=ফাইল চিস্টেম
Name[ca]=Sistema de fitxers
Name[ca@valencia]=Sistema de fitxers
Name[cs]=Souborový systém
Name[da]=Filsystem
Name[de]=Dateisystem
Name[el]=Σύστημα αρχείων
Name[en_GB]=File System
Name[eo]=Dosiersistemo
Name[es]=Sistema de achivos
Name[et]=Failisüsteem
Name[eu]=Fitxategi-sistema
Name[fi]=Tiedostojärjestelmä
Name[fr]=Système de fichiers
Name[gl]=Sistema de ficheiros
Name[he]=מערכת קבצים
Name[hu]=Fájlrendszer
Name[id]=Sistem Berkas
Name[it]=File system
Name[ja]=ファイルシステム
Name[ko]=파일 시스템
Name[lt]=Failų sistema
Name[lv]=Datņu sistēma
Name[ml]=ഫയല്‍സിസ്റ്റം
Name[nb]=Filsystem
Name[nds]=Dateisystem
Name[nl]=Bestandssysteem
Name[pa]=ਫਾਇਲ ਸਿਸਟਮ
Name[pl]=System plików
Name[pt]=Sistema de ficheiros
Name[pt_BR]=Sistema de arquivos
Name[ro]=Sistem de fișiere
Name[ru]=Файловая система
Name[sk]=Súborový systém
Name[sl]=Datotečni sistem
Name[sr]=Систем датотека
Name[sr@latin]=Sistem datoteka
Name[sv]=Filsystem
Name[te]=దస్త్ర వ్యవస్థ
Name[tr]=Dosya Sistemi
Name[uk]=Файлова система
Name[zh_CN]=文件系统
Name[zh_HK]=檔案系統
Name[zh_TW]=檔案系統
Comment=File system data miner
Comment[ar]=مُنقِّب بيانات نظام الملفات
Comment[as]=ফাইল চিস্টেম তথ্য মাইনাৰ
Comment[ca]=Extractor de dades de fitxers del sistema
Comment[ca@valencia]=Extractor de dades de fitxers del sistema
Comment[cs]=Démon na dolování dat ze souborového systému
Comment[da]=Dataindeksering af filsystem
Comment[de]=Dateisystem-Indizierung
Comment[el]=Εξορύκτης δεδομένων από τα αρχεία συστήματος
Comment[en_GB]=File system data miner
Comment[es]=Minero de datos del sistema de archivos
Comment[et]=Failisüsteemi andmekaevur
Comment[eu]=Fitxategi-sistemako datuen biltzailea
Comment[fr]=Collecteur de données du système de fichiers
Comment[gl]=Mineiro de datos do sistema de ficheiros
Comment[hu]=Fájlrendszer-adatbányász
Comment[id]=Penambang data sistem berkas
Comment[it]=Estrattore di dati dal file system
Comment[ja]=ファイルシステムからデータを収集します
Comment[ko]=파일 시스템 데이터 수집기
Comment[lt]=Failų sistemos duomenų rinkiklis
Comment[lv]=Datņu sistēmas datu racējs
Comment[nb]=Filsystem datagraver
Comment[nl]=Dataminer bestandssysteem
Comment[pa]=ਫਾਇਲ ਸਿਸਟਮ ਡਾਟਾ ਮਾਈਨਰ
Comment[pl]=Przeszukiwanie danych w systemie plików
Comment[pt]=Analisador do sistema de ficheiros
Comment[pt_BR]=Mineração de dados do sistema de arquivos
Comment[ro]=Miner date din sistemul de fișiere
Comment[ru]=Индексатор данных файловой системы
Comment[sk]=Dolovač údajov pre súborový systém
Comment[sl]=Podatkovno rudarjenje datotečnega sistema
Comment[sr]=Копач података система датотека
Comment[sr@latin]=Kopač podataka sistema datoteka
Comment[sv]=Datainsamlare för filsystem
Comment[uk]=Індексатор даних файлової системи
Comment[zh_CN]=文件系统数据挖掘器
Comment[zh_HK]=檔案系統資料礦工
Comment[zh_TW]=檔案系統資料礦工
Icon=folder
DBusName=org.freedesktop.Tracker1.Miner.Files
DBusPath=/org/freedesktop/Tracker1/Miner/Files
