<?xml version="1.0" encoding="UTF-8"?>
<service id="wlm">
  <type>IM</type>
  <name>Windows Live Messenger</name>
  <icon>msn</icon>
  <provider>windows-live</provider>
  <translations>account-plugins</translations>

  
  <template>
    <group name="telepathy">
      <setting type="b" name="mc-readonly-params">true</setting>
      <setting name="manager">gabble</setting>
      <setting name="protocol">jabber</setting>

      <setting name="param-account">messenger.live.com</setting>
      <setting name="param-fallback-servers">xmpp.messenger.live.com</setting>
      <setting name="param-extra-certificate-identities">*.gateway.messenger.live.com</setting>
    </group>
  </template>

</service>