[D-BUS Service]
Name=org.freedesktop.Telepathy.MissionControl5
Exec=/usr/bin/mc-wait-for-name --activate org.freedesktop.Telepathy.AccountManager org.freedesktop.Telepathy.MissionControl5
