[Desktop Entry]
Type=Application
Name=Indicator Bluetooth
Exec=/usr/lib/arm-linux-gnueabihf/indicator-bluetooth/indicator-bluetooth-service
NoDisplay=true
StartupNotify=false
Terminal=false
OnlyShowIn=Unity;
Hidden=true
X-Ubuntu-Gettext-Domain=indicator-bluetooth
