[Desktop Entry]
Type=Application
Name=Indicator Application
Exec=/usr/lib/arm-linux-gnueabihf/indicator-application/indicator-application-service
StartupNotify=false
Terminal=false
OnlyShowIn=Unity;GNOME;
AutostartCondition=GNOME3 unless-session gnome
